<div id="favorite_button">
  <% favorite = current_user.favorites.find_by(recipe_id: recipe.id) %>

  <%= form_with url: recipe_favorite_path(recipe, favorite),
                method: :delete do %>
    <button type="submit" class="text-red-500 hover:text-gray-500">
      <%= heroicon "heart", variant: :solid, options: { class: "w-6 h-6" } %>
    </button>
  <% end %>
</div>

