<% if notice %>
  <div class="flex items-center justify-center border border-green-600 text-green-700 bg-white px-4 py-2 mb-4 rounded">
    <i class="fa-solid fa-circle-check mr-2"></i>
    <%= notice %>
  </div>
<% end %>
