<h2>必要なカロリーは？</h2>

<%= form_with url: suggest_path, method: :get, local: true do %>
  <%= number_field_tag :kcal, nil, min: 0, step: 50 %> kcal
  <%= submit_tag "決定" %>
<% end %>

<p>ランダムで山ご飯を提案するよ</p>